.ft{
    background-color: var(--dark);
    color: var(--light);
    padding: 3rem;
}

.ft-title{
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.ft-txt{
    color: rgb(150,150,150);
    display: flex;
    align-items: start;
    gap: 1rem;
    margin-bottom: 1rem;
}

.ft-txt-icon{
    font-size: 1.5rem;
}

@media screen and (max-width: 700px){
    .ft{
        padding: 1rem;
    }
}